* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* HEADER & NAV */
.prim-header {
  width: 100%;
  z-index: 200;
  position: fixed;
  /* top: 0; */
  background: transparent;
}
.desk-header {
  display: flex;
  /* position: absolute; */
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
.nav-menu {
  display: flex;
  font-size: 1.2rem;
  line-height: 3rem;
  gap: 15px;
}
/* .nav-menu-content {
  padding-left: 1.5rem;
  padding-right: 0.25rem;
  line-height: 3.75rem;
  height: 100%;
  display: inline-block;
} */
.prim-header .desk-header-brand {
  height: 1.5rem;
  width: 8.125rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.nav-search {
  display: flex;
  position: relative;
  width: 12rem;
}
.search-bar {
  display: flex;
}
.search-bar .input-search {
  /* display: inline-flex; */
  /* position: relative; */
  height: 1.8rem;
  width: 9rem;
  border-bottom: 0.06rem solid black;
}
.input-search input {
  border: 0;
  width: 15rem;
  background-color: transparent;
  outline: none;
}
button {
  border: none;
  cursor: pointer;
  background: transparent;
}


/* END HEADER & NAV */

/* MAIN CONTENT */
.back-vid {
  width: 100%;
  height: 60vh;
  z-index: -1;
}
.back-vid video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 60vh;
  padding-bottom: 5px;
}

.hero {
  display: grid;
  gap: 5px;
  grid-template-areas:
    "content-1 content-2"
    "content-3 content-4";
}
.main {
  display: flex;
  min-height: 750px;
  cursor: pointer;
  place-items: flex-end;
  place-content: flex-end;
  background-color: aqua;
  font-size: 25px;
  padding: 10px 50px;
  letter-spacing: 3px;
}
.content-1 {
  grid-area: content-1;
  background-image: url(img/orng.png);
  background-size: cover;
}
.content-1 img {
  width: auto;
}
.content-2 {
  grid-area: content-2;
  background-image: url(img/bw3.png);
  background-size: cover;
  background-position: center;
}
.content-3 {
  grid-area: content-3;
  background-image: url(img/bw1.png);
  background-size: cover;
}
.content-4 {
  grid-area: content-4;
  background-image: url(img/frag.png);
  background-size: cover;
}
/* END MAIN CONTENT */

/* footer EXPLORE grid 1 */
footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  padding-top: 8rem;
}
.footer-explore {
  display: flex;
  position: relative;
  place-content: center;
  place-items: center;
  height: 6rem;
  width: 100%;
  /* box-sizing: border-box; */
  
  text-transform:uppercase;
  letter-spacing: 3px;
}

.exp-more {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50rem;
}
.exp-more-links a {
  border-bottom: 0.06rem solid grey;
}

ul li,
a {
  text-decoration: none;
  list-style: none;
  color: rgba(0, 0, 0, 0.726);
  font-size: 0.92rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
li a:hover {
  /* display: block; */
  color: rgba(0, 0, 0, 0.336);
  border-bottom: none;
}

/* footer NEWSLETTER grid 2*/
.service {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.text-input {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  position: relative;
  flex-direction: column;
}
.text-input--focus .label-field {
  font-size: 0.8rem;
  line-height: 1.3rem;
  transform: translateY(-1.1rem);
  color: rgba(0, 0, 0, 0.521);
}
.text-input label {
  position: absolute;
  top: 1.5rem;
  color: rgba(0, 0, 0, 0.404);
  text-overflow: ellipsis;
  max-width: calc(100% - 2rem);
  overflow: hidden;
  text-transform: capitalize;
  z-index: 1;
}
.text-input .input {
  display: inline-flex;
  align-items: center;
  /* -webkit-box-align: center; */
  align-items: center;
  width: 15rem;
  height: 2.9rem;
  position: relative;
  /* box-sizing: border-box; */
  border-bottom: 0.06rem solid rgba(0, 0, 0, 0.603);
}
.text-input .input input {
  border: 0;
  border-radius: 0.3rem;
  width: 15rem;
  /* box-sizing: border-box; */
  background-color: transparent;
  outline: none;
  height: 100%;
  padding: 1.2rem 0 0.3rem;
}
.find-boutique {
  display: flex;
  margin: 3rem 0;
  font-weight: bold;
}
.boutique li {
  display: flex;
  margin: 2rem 0;
  font-size: 0.92rem;
  font-weight: lighter;
}
.client {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}
.client li {
  display: flex;
  margin: 0.8rem 0;
  font-size: 0.92rem;
  font-weight: lighter;
}

.house-of {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}
.house-of li {
  display: flex;
  margin: 0.8rem 0;
  font-size: 0.92rem;
  font-weight: lighter;
}

button {
  border: 3px;
  display: flex;
  position: relative;
}
.select-local, .select-lang-select {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-right: 5.25rem;
  width: 100%;
  height: 2.25rem;
  box-sizing: border-box;
  border-bottom: 0.06rem solid rgba(0, 0, 0, 0.603);
}
.languages {
  margin-top: 3rem;
}

/* footer grid 3 */
.copy-right {
  display: flex;
  place-content: center;
  place-items: flex-end;
  margin: 2rem 0;
  border-top: 0.04rem solid rgba(128, 128, 128, 0.459);
  text-transform: capitalize;
  font-family:'Times New Roman', Times, serif;
}


/* responsive breakpoint */

/* tablet */
@media screen and (max-width:768px) {
  .nav-search, .nav-menu {
    display: none;
  }
  .desk-header {
    position: fixed;
    left: 2rem;
  }
  .desk-header-brand {
    top: .8rem;
  }
  .back-vid{
    width: 100vh;
    height: 3;
  }
  .hero {
    display: grid;
    grid-template-areas: 
    'content-1'
    'content-2'
    'content-3'
    'content-4';
  }
  .footer {
    display: grid;
    grid-template-rows: 150px 1.8fr 100px;
  }
  .footer-explore {
    display: flex;
    flex-direction: column;
  }
  .exp-more {
    display: flex;
    margin-top: 2rem;
    width: 100%;
  }
  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
  }
  .copy-right {
    font-size: .7rem;
  }
}
@media screen and (max-width:480px) {
  .footer-explore{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
  .exp-more  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .exp-more li {
    display: flex;
    margin: .7rem 0;
  }
}